.main-content {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.form {
    min-width: 250px !important;
  
    ion-input {
        --color: var(--ion-color-medium);
        --placeholder-font-weight: 400;
        --background: #F2F2F2;
        border-radius: 15px;
        --padding-start: 15px !important;
        margin-top: 0.7rem;
    }
  
    ion-item {
        --background: transparent;
        --inner-padding-end: 0;
        border-radius: 15px; 
        margin-bottom: 1rem;
    }

    .message-text{
        color:blue; 
        font-size:x-small; 
        margin: 0 auto; 
        text-align:right !important;
    }

    .select-option{
        color: grey !important;
    }
    
}