<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Appliance Bases</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-database text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Database </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Appliance Bases
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-primary text-white" (click)="openModal(createBase)">
                        <i class="fas fa-plus"></i>
						Base
					</a>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Total Number of Appliance Brand</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chart-base-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Total Number of Appliance Group</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chart-base-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Appliance Base List</h3>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select 
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm custom-select custom-select-sm"
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="10" [selected]="tableEntries==5">5</option>
                                        <option value="25" [selected]="tableEntries==10">10</option>
                                        <option value="50" [selected]="tableEntries==15">15</option>
                                        <option value="-1" [selected]="tableEntries==-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input 
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Search base records"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)" 
                                    />
                                </label>
                            </div>
                        </div>
                    </div>

                    <ngx-datatable 
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [limit]="tableEntries != -1 ? tableEntries:undefined"
                        [rows]="tableTemp" 
                        (activate)="onActivate($event)"
                    >

                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Index</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.id_index}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Brand"></ngx-datatable-column>

                        <ngx-datatable-column name="Model"></ngx-datatable-column>

                        <ngx-datatable-column name="Year"></ngx-datatable-column>

                        <ngx-datatable-column name="Manufacturer"></ngx-datatable-column>

                        <ngx-datatable-column name="Group"></ngx-datatable-column>

                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Batch No.</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.batch_num}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Status</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.active" class="badge badge-pill badge-success">Active</span>
                                <span *ngIf="!row.active" class="badge badge-pill badge-warning">Inactive</span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #createBase>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Add Base
        </h6>

        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="baseForm">
            <div class="form-group">
                <label class="form-control-label">Brand</label>
                <input 
                  class="form-control"
                  placeholder="Enter brand"
                  formControlName="brand"
                  type="text"
                >
            </div>

            <div class="form-group">
                <label class="form-control-label">Model</label>
                <input 
                  class="form-control"
                  placeholder="Enter model"
                  formControlName="model"
                  type="text"
                >
            </div>

            <div class="form-group">
                <label class="form-control-label">Year</label>
                <input 
                  class="form-control"
                  placeholder="Enter year"
                  formControlName="year"
                  type="text"
                >
            </div>

            <div class="form-group">
                <label class="form-control-label">Manufacturer</label>
                <input 
                  class="form-control"
                  placeholder="Enter manufacturer"
                  formControlName="manufacturer"
                  type="text"
                >
            </div>

            <div class="form-group">
                <label class="form-control-label">Batch No.</label>
                <input 
                  class="form-control"
                  placeholder="Enter batch no."
                  formControlName="batch_num"
                  type="text"
                >
            </div>

            <div class="form-group">
                <label class="form-control-label">Active</label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="active">
                    <label class="custom-control-label" for="customCheck1">Active</label>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button 
            class="btn btn-success"
            type="button"
            (click)="confirm('base')"
            [disabled]="!baseForm.valid"
        >
            Create
        </button>

        <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Close
        </button>
    </div>
</ng-template>