.ion-text-bold {
    font-weight: 500 !important;
}

.ion-margin-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-small {
    font-size: 0.8rem;
}

.text-bold {
    font-weight: 500;
}

.text-bolder {
    font-weight: 600 !important;
}

.m-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.m-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.p-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
    padding-left: auto !important;
    padding-right: auto !important;
}

.px-auto {
    padding-left: auto !important;
    padding-right: auto !important;
}

.py-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
}