<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/core/bills"
        routerLink="/core/bills"
        routerDirection="back"
        text=""
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Bill detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list
    mode="ios"
    class="ion-no-margin list-core"
  >
    <ion-list-header mode="ios">
      <h3>Bill statement</h3>
    </ion-list-header>
    
    <ion-item lines="none">
      <ion-label>
        <h3>Date</h3>
      </ion-label>
      <ion-label slot="end" class="ion-text-wrap ion-text-right">
        05/04/2020
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h3>Account no.</h3>
      </ion-label>
      <ion-label slot="end" class="ion-text-wrap ion-text-right">
        10812310241
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h3>Amount paid</h3>
      </ion-label>
      <ion-label slot="end" class="ion-text-wrap ion-text-right">
        <h3><span class="text-small">RM</span>200.00</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
