<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										No. of Appliance Base
									</h5>

									<span class="h2 font-weight-bold mb-0"> {{totalUser}} </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="fas fa-users"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										No. of Device
									</h5>

									<span class="h2 font-weight-bold mb-0"> {{totalAppliance}} </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
										<i class="fas fa-tv"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										No. of Appliance
									</h5>

									<span class="h2 font-weight-bold mb-0"> {{totalDevice}} </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="fas fa-tablet"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										No. of Install/Maintain
									</h5>

									<span class="h2 font-weight-bold mb-0"> {{totalBill}}</span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="fas fa-file-invoice-dollar"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-lg-8 col-sm-12">
			<div class="card">
				<div class="card-header bg-secondary">
					<h4 class="m-0">Power Consumption for Last Hour</h4>
				</div>

				<div class="card-body">
					<div class="chart">
						<div class="amchart">
							<div class="amchart" id="chartdashboard1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-sm-12">
			<div class="card">
				<div class="card-header bg-secondary">
					<h4 class="m-0">Appliance Base Groups</h4>
				</div>

				<div class="card-body">
					<div class="chart">
						<div class="amchart">
							<div class="amchart" id="chartdashboard2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-sm-12">
			<div class="card">
				<div class="card-header bg-secondary">
					<h4 class="m-0">Estimated Power Consumption on Average</h4>
				</div>

				<div class="card-body">
					<div class="chart">
						<div class="amchart">
							<div class="amchart" id="chartdashboard3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-8 col-sm-12">
			<div class="card">
				<div class="card-header bg-secondary">
					<h4 class="m-0">Progress of Install / Maintain</h4>
				</div>

				<div class="card-body">
					<div class="chart">
						<div class="amchart">
							<div class="amchart" id="chartdashboard4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header bg-secondary">
					<h4 class="m-0"></h4>
				</div>

				<div class="card-body">
					<div class="chart">
						<div class="amchart"></div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>