<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/core/profile"
      routerLink="/core/profile"
      routerDirection="back"
      text=""
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list class="ion-no-margin list-core" mode="ios">
    <ion-list-header lines="none" mode="ios">
			<h3>Information</h3>
    </ion-list-header>
    
    <ion-item lines="none">
      <!-- <ion-icon name="person-outline" color="primary" slot="end"></ion-icon> -->
      <ion-label class="ion-text-wrap">
        <h4>Email</h4>
        <p>{{user.username}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" detail (click)="edit('/profile-information-edit', 'name')">
      <ion-icon name="create" color="primary" slot="end"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Full name</h4>
        <p>{{user.name}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h4>IC number</h4>
        <p>{{user.identification_number}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" detail (click)="edit('/profile-information-edit', 'mobile_number')">
      <ion-icon name="create" color="primary" slot="end"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Mobile number</h4>
        <p>{{user.mobile_number}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h4>Device S/N</h4>
        <p>abcs12398mm1bsuy1</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h4>Supply type</h4>
        <p>3 phase</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h4>Installation date</h4>
        <p>1 December 2020</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item lines="none" detail (click)="edit('/profile-information-edit', 'billing_address')">
      <ion-icon name="create" color="primary" slot="end"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Billing address</h4>
        <p>{{user.billing_address}}</p>
      </ion-label>
    </ion-item> -->

  </ion-list>
</ion-content>