.main-content {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
}

.form {
    min-width: 250px !important;
  
    .validation-errors {
        min-height: 25px;
    }
  
    .error-message {
        color: var(--ion-color-danger);
        text-align: right;
        font-size: 0.8em;
        padding-top: 5px;
    }
  
    ion-input {
        --color: var(--ion-color-medium);
        --placeholder-font-weight: 400;
        --background: #F2F2F2;
        border-radius: 15px;
        --padding-start: 15px !important;
        margin-top: 0.7rem;
    }
  
    ion-item {
        --background: transparent;
        --inner-padding-end: 0;
        border-radius: 15px;
    }
}
  
img {
    max-width: 8rem;
}

ion-button {
    --border-radius: 50px;
    --box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
}