<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <canvas #canvasPower></canvas>

  <ion-list
    mode="ios"
    class="ion-no-margin list-core"
  >
    <ion-list-header mode="ios">
      <h3>News Feed</h3>
    </ion-list-header>

    <div [hidden]="!isFeedEmpty">
      <img [src]="iconError" class="error-img">
      <p class="error-text">No feeds loaded</p>
    </div>
    
    <div [hidden]="isFeedEmpty">
      <ion-item lines="none" *ngFor="let activity of activities">
        <ion-avatar slot="start">
          <img *ngIf="activity.appliance == 'TV'" [src]="iconLCD">
          <img *ngIf="activity.appliance == 'Lamp'" [src]="iconLamp">
          <img *ngIf="activity.appliance == 'Light'" [src]="iconLamp1">
          <img *ngIf="activity.appliance == 'Fridge'" [src]="iconDryer">
          <img *ngIf="activity.appliance == 'AC'" [src]="iconAirCond">
          <img *ngIf="activity.appliance == 'Dishwasher'" [src]="iconDishwasher">
          <img *ngIf="activity.appliance == 'Toaster'" [src]="iconToaster">
          <img *ngIf="activity.appliance == 'Dryer'" [src]="iconDryer">
          <img *ngIf="activity.appliance == 'Washing'" [src]="iconDryer">
          <img *ngIf="activity.appliance == 'Microwave'" [src]="iconMicrowave">
          <img *ngIf="activity.appliance == 'Air'" [src]="iconAir">
          <img *ngIf="activity.appliance == 'Deep'" [src]="iconDeep">
          <img *ngIf="activity.appliance == 'Blender'" [src]="iconBlender">
          <img *ngIf="activity.appliance == 'Induction'" [src]="iconInduction">
          <img *ngIf="activity.appliance == 'Iron'" [src]="iconIron">
          <img *ngIf="activity.appliance == 'Vacuum'" [src]="iconVacuum">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>{{activity.appliance}}</h2>
        </ion-label>
        <ion-label slot="end" class="ion-text-wrap ion-text-right">
        <ion-badge color="success">ON</ion-badge>
          <ion-badge color="light">OFF</ion-badge>
          <h2>{{activity.created_date}}</h2>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
