<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas #canvasPower></canvas>

  <ion-list
    mode="ios"
    class="ion-no-margin list-core"
  >
    <ion-list-header mode="ios">
      <h3>News Feed</h3>
    </ion-list-header>

    <div [hidden]="!isFeedEmpty">
      <img [src]="iconError" class="error-img">
      <p class="error-text">No feeds loaded</p>
    </div>
    
    <div [hidden]="isFeedEmpty">
      <ion-item lines="none" *ngFor="let feed of feeds">
        <ion-avatar slot="start">
          <img *ngIf="feed.appliance == 'TV'" [src]="iconLCD">
          <img *ngIf="feed.appliance == 'Lamp'" [src]="iconLamp">
          <img *ngIf="feed.appliance == 'Light'" [src]="iconLamp1">
          <img *ngIf="feed.appliance == 'Fridge'" [src]="iconDryer">
          <img *ngIf="feed.appliance == 'AC'" [src]="iconAirCond">
          <img *ngIf="feed.appliance == 'AC NI'" [src]="iconAirCond">
          <img *ngIf="feed.appliance == 'Dishwasher'" [src]="iconDishwasher">
          <img *ngIf="feed.appliance == 'Toaster'" [src]="iconToaster">
          <img *ngIf="feed.appliance == 'Dryer'" [src]="iconDryer">
          <img *ngIf="feed.appliance == 'Washing'" [src]="iconDryer">
          <img *ngIf="feed.appliance == 'Microwave'" [src]="iconMicrowave">
          <img *ngIf="feed.appliance == 'Air'" [src]="iconAir">
          <img *ngIf="feed.appliance == 'Deep'" [src]="iconDeep">
          <img *ngIf="feed.appliance == 'Blender'" [src]="iconBlender">
          <img *ngIf="feed.appliance == 'Heater'" [src]="iconBlender">
          <img *ngIf="feed.appliance == 'Induction'" [src]="iconInduction">
          <img *ngIf="feed.appliance == 'Iron'" [src]="iconIron">
          <img *ngIf="feed.appliance == 'Vaccuum'" [src]="iconVacuum">
          <img *ngIf="feed.appliance == 'Water'" [src]="iconWater">
          <img *ngIf="feed.appliance == 'Pressure Cooker'" [src]="iconCooker">
          <img *ngIf="feed.appliance == 'Rice Cooker'" [src]="iconCooker">
          <img *ngIf="feed.appliance == 'Pressure'" [src]="iconCooker">
          <img *ngIf="feed.appliance == 'Oven'" [src]="iconMicrowave">
          <img *ngIf="feed.appliance == 'Steamer'" [src]="iconSteamer">
          <img *ngIf="feed.appliance == 'Kettle'" [src]="iconKettle">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>{{feed.appliance}}</h2>
        </ion-label>
        <ion-label slot="end" class="ion-text-wrap ion-text-right">
          <ion-badge *ngIf="feed.at_state == 'ON'" color="success">ON</ion-badge>
          <ion-badge *ngIf="feed.at_state == 'OF'" color="light">OFF</ion-badge>
          <p>{{feed.created_at}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
