ion-card.extras {
    display: relative;
    width: 100%;
}

.wave-container {
    position: relative;
    // background: #09F;
    color: #FFF;
    overflow: hidden;
}
.wave-container > svg {
    display: block;
    height: 200px;
}

@keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
}
.wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.welcome-container {
    position: absolute;
    top: 0;
    left: 0;
}

.welcome-text {
    margin: 7rem 1.25rem 2.5rem 1.25rem;
}

.text-white {
    color: #fff !important;
}

.summary-container {
    margin-top: -15vh;
}

.chart-container {
    background: #fff;
    height: 40vh;
    padding-top: 10px;
}

.error-img {
    display: grid;
    max-width: 7rem !important;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
  
.error-text {
    color: #9d9fa6;
    display: grid;
    font-size: 0.9rem;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
}