<ion-header mode="ios" class="ion-no-border">
	<ion-toolbar mode="ios" color="primary">
		<ion-buttons slot="start">
			<ion-back-button 
				defaultHref="/auth/login"
				routerLink="/auth/login"
				routerDirection="back"
				text=""
			>
			</ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="main-content">
		<ion-grid>
			<ion-row>
				<ion-col>
					<img src="assets/red.png">
					<h2 class="title ion-text-center">Reset password</h2>
					<p 
						class="subtitle" 
						style="max-width: 240px; text-align: center; padding-bottom: 20px;"
					>
						Enter your email and we will send you a reset link
					</p>
		
					<form class="form" [formGroup]="forgotForm">
						<ion-item lines="none" class="ion-no-padding ion-no-margin">
							<ion-label position="stacked">Your Email</ion-label>
							<ion-input type="text" formControlName="email" placeholder="Enter your email"></ion-input>
						</ion-item>
		
						<div class="validation-errors">
							<ng-container *ngFor="let message of forgotFormMessages.email">
								<div 
									class="error-message"
									*ngIf="forgotForm.get('email').hasError(message.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)"
								>
									{{ message.message }}
								</div>
							</ng-container>
						</div>
		
						<div class="ion-text-center">
							<ion-button 
								*ngIf="!isLoading"
								type="submit"
								[disabled]="!forgotForm.valid"
								shape="round"
								(click)="resetPassword()" 
								color="primary"
								mode="ios"
							>
								Reset
							</ion-button>
							<ion-button
								disabled
								*ngIf="isLoading"
								type="submit"
								shape="round"
								color="primary"
								mode="ios"
							>
								<ion-spinner name="bubbles"></ion-spinner>
							</ion-button>
						</div>
					</form>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
