<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Appliances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="ios" class="ion-no-margin list-core">
    <ion-list-header mode="ios">
      <h3>Registered Appliances</h3>
    </ion-list-header>

    <div [hidden]="!isListEmpty">
      <img [src]="iconError" class="error-img">
      <p class="error-text">No appliances registered</p>
    </div>

    <ion-item detail *ngFor="let appliance of tempAppliance" lines="none" (click)="view(appliance)">
      <ion-avatar slot="start">
        <img *ngIf="appliance.type == 'TV'" [src]="iconLCD">
        <img *ngIf="appliance.type == 'Lamp'" [src]="iconLamp">
        <img *ngIf="appliance.type == 'Light'" [src]="iconLamp1">
        <img *ngIf="appliance.type == 'Fridge'" [src]="iconDryer">
        <img *ngIf="appliance.type == 'AC'" [src]="iconAirCond">
        <img *ngIf="appliance.type == 'Dishwasher'" [src]="iconDishwasher">
        <img *ngIf="appliance.type == 'Toaster'" [src]="iconToaster">
        <img *ngIf="appliance.type == 'Dryer'" [src]="iconDryer">
        <img *ngIf="appliance.type == 'Washing'" [src]="iconDryer">
        <img *ngIf="appliance.type == 'Microwave'" [src]="iconMicrowave">
        <img *ngIf="appliance.type == 'Air'" [src]="iconAir">
        <img *ngIf="appliance.type == 'Deep'" [src]="iconDeep">
        <img *ngIf="appliance.type == 'Blender'" [src]="iconBlender">
        <img *ngIf="appliance.type == 'Induction'" [src]="iconInduction">
        <img *ngIf="appliance.type == 'Iron'" [src]="iconIron">
        <img *ngIf="appliance.type == 'Vacuum'" [src]="iconVacuum">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h2>{{appliance.name}}</h2>
        <!-- <p>{{appliance.description}}</p> -->
      </ion-label>

      <ion-label slot="end" class="ion-text-right">
        <ion-badge *ngIf="appliance.active" color="success">Active</ion-badge>
        <ion-badge *ngIf="!appliance.active" color="medium">Inactive</ion-badge>
        <!-- <p>{{appliance.reading}}</p> -->
      </ion-label>
    </ion-item>

  <!-- <ion-item detail lines="none" (click)="view()">
    <ion-avatar slot="start">
      <img [src]="iconLCD">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
      <h2>Name</h2>
      <p>Description</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      <ion-badge color="success">On</ion-badge>
      <p>Reading</p>
    </ion-label>
  </ion-item> -->
  </ion-list>
</ion-content>